*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: blueviolet;
    color: white;
    
}
    
.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: white;
}

.nav__logo img {
    width: 60px;
}

.navbar a {
    color: black;
    font-size: 18px;
}

.nav__links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav__links i {
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px
}