{% extends "base.html" %}

{% block page__title %}
home
{% endblock page__title %}

{% block body %}
  
<h1>Ana Səhifə</h1>


  <!-- {% if messages %}

       {% for message in messages %}
            {% if message.tags == "warning" %}
            <div class="alert__warning">{{message}}</div>
            {% else %}
            <div class="alert__success">{{message}}</div>
            {% endif %}
       {% endfor %}

  {% endif %}

  

    {% comment %} {% if messages %}
    {% for message in messages %}
        {% if message.tags == "warning" %}
            <div class="alert alert-warning" role="alert">
                <strong>Diqqət!</strong> {{ message }}
            </div>
        {% elif message.tags == "error" %}
            <div class="alert alert-danger" role="alert">
                <strong>Xəta!</strong> {{ message }}
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %} {% endcomment %} -->

  {% endblock body %}