{% extends "base.html" %}

{% block page__title %}
    our blogs
{% endblock page__title %}

{% block body %}
    <h2>bizim  meqalalerim</h2>

    <div class="Film">
        
        <ul>
            
            {% for films in filmm %}
                <li>
                    <h3>{{films.author}}</h3>
                    <h4>{{films.title}}</h4>
                    <p>{{films.content}}</p>
                    <small>{{films.created_date}}</small>
                </li>
                <hr>
            {% endfor %}
                
        </ul>
    </div>
{% endblock body %}